
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,400;1,300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  margin: 0;
  font-family: 'Hanken Grotesk';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Hanken Grotesk';
}

@layer base {
  html {
 font: 'hanken' 
  }

  @font-face {
    font-family: 'Hanken Grotesk', sans-serif;

}}
